page-home {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
        //background-color: blue;
      }

      .FloatLeft{
      	display: inline-block;
      	float: left;
      }

      
}

